.sectionSobreMi{
    /* min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    flex-direction: column;
    margin: 0 auto;
    z-index: -1; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 100px;
}

.titleSobreMi{
display: flex;
justify-content: center;
font-size: 2rem;
padding: 15px;
/* color: var(--colorIcon); */
color: rgba(0, 212, 255, 0.9);

}
/* .titleSobreMi:hover{
transform: scale(1.005);
color: rgba(255, 255, 255, 0.9);
transition: all .3s ease;  
} */

.descripcion{
    width: 100%;
    height: 50%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px; */
}

.description p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    line-height: 150%;
    text-align: justify;
    margin: 0;
}
.slider {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    

    /* box-shadow: 2px 2px 6px #4a4a4a; */
    /* box-shadow: 1px 0px 20px 4px #4a4a4a; */
    /* background: linear-gradient(459deg, #130427 18.96%, #06162b 73.16%); */
    /* background: linear-gradient(to right, #191919 28.96%, rgba(0, 0, 0, .85) 83.16%); */
    background-color: #191919;
    margin-bottom: 12px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgb(25 25 25) 20%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 250px;
    position: absolute;
    width: 30%;
    z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slider .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(120px * 20);
}

.slider .slide {
    display: flex;
    flex-direction: row;
    width: 120px;
    margin: 10px;
    
}
.slider .slide div {
    width: 100px;
    height: 100px;
    background: linear-gradient(109.35deg, #3872e0 -96.47%, #252b31 2.59%);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.slider .slide img {
    width: 100px;
    height: 80px;
    
    padding: 20px;
}

.slider .slide p {
    font-size: 11px;
    align-items: center;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-120px * 10));
        transform: translateX(calc(-120px * 10));
        /* transform: translateX(4000px); */
    }
}

@media screen and (min-width: 768px){
    .sectionSobreMi{
        display: flex;
        justify-content: center;
        min-height: 100vh;
        margin: 0;    
    }

}

@media screen and (min-width: 950px) {
    .sectionSobreMi{
        width: 100%;
        padding-left: 9.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        display: flex;
        margin: 0 auto;
        gap: 30px;
        z-index: -1;
    }

    .description{
        width: 80%;
        /* margin-top: 100px; */
        /* margin-left: 30px; */
        /* padding: 30px; */

    }

    .description p{
        font-size: 18px;
        padding: 10px 30px 10px 10px;
    }

    .titleSobreMi{
        justify-content: left;
    }

    .tecnologias{
        width: 80%;
    }
    .slider{
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .sectionSobreMi{
        padding-left: 11rem;
        align-items: center;
    }
    .tecnologias{
        width: 80%;
    }
    .slider{
        width: 100%;
    }

}
