.sectionSobreMi{
    /* min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    flex-direction: column;
    margin: 0 auto;
    z-index: -1; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 70px;
    



}

.titleSobreMi{
display: flex;
justify-content: center;
font-size: 2rem;
padding-bottom: 15px;
/* color: var(--colorIcon); */
color: rgba(0, 212, 255, 0.9);

}
.titleSobreMi:hover{
transform: scale(1.005);
color: rgba(255, 255, 255, 0.9);
transition: all .3s ease;  
}

.descripcion{
    width: 100%;
    height: 60%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px; */
}

.description p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px; */
    /* flex-wrap: wrap; */
    color: #ffff;
    width: 100%;
    padding: 30px 15px;
    font-size: 18px;
    /* margin: 15px; */
    line-height: 150%;
}
.slider {
    width: 87%;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin: 20px;
    /* box-shadow: 2px 2px 6px #4a4a4a; */
    box-shadow: 1px 0px 20px 4px #4a4a4a;

}

.slider .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(100px * 10);

}

.slider .slide {
    display: flex;
    flex-direction: row;
    width: 90px;
}

.slider .slide img {
    width: 100%;
    padding-left: 10px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-90px * 10));
        transform: translateX(calc(-90px * 10));
    }
}

@media screen and (min-width: 950px) {
    .sectionSobreMi{
        width: 100%;
        padding-left: 12rem;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        min-height: 100vh;
        display: flex;
        margin: 0 auto;
        z-index: -1;
    }

    .description{
        width: 55%;
        margin-left: 30px;
        /* padding: 30px; */

    }

    .description p{
        font-size: 18px;
    }

    .titleSobreMi{
        justify-content: left;
    }

    .tecnologias{
        width: 45%;
    }

}
