.header{
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10vh;
    margin: auto;
    z-index: 3;
    /* background-color: #1d1d1d; */
}

.modo{
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
}

.modo .noche{
        color: #fff;
}
.modo .dia{
        display: none;
        color: #08fdd8;

}
/* .nav-close-btnfas{
    display: none;
} */
.header .fas {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    color: white;
    cursor: pointer;
}
.header .fas:nth-child(2){
    display: none;
}
.header .fa:nth-child(2){
    display: none;
}

.container{
    transform: translateX(-100%);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    transition: 0s;
	gap: 1.2rem;
}

.container.open{
   transform: translateX(0) !important;
   transition: 1s;
    
}


@media screen and (min-width: 950px) {
    header{
        justify-content: flex-end;
        align-items: flex-end;
    }
    .btns-container{
        display: none;
    }

    .container{
        transform: translateX(0);
        transition: 0s;
    
    }
}