.header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    z-index: 5; 
}

.containerHeader{
    width: 100%;
    margin: 0 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    backdrop-filter: blur(5px);
    background-color: transparent;
}

.modo{
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
}

.modo .noche{
        color: #fff;
}
.modo .dia{
        display: none;
        color: #08fdd8;

}
/* .nav-close-btnfas{
    display: none;
} */
.header .fas {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    color: white;
    cursor: pointer;
}
.header .fas:nth-child(2){
    display: none;
}

.container {
    position: fixed;
    top: 0; /* Posición en la parte superior */
    left: 0; /* Posición en la parte izquierda */
    width: 100%;
    background-color: rgb(58, 47, 47); /* Fondo blanco para el menú */
    z-index: 3; /* Asegura que el menú esté encima de otros elementos */
    visibility: hidden; /* Inicialmente oculto */
    opacity: 1; /* Inicialmente transparente */
    transition: visibility 0s, opacity 0.5s; /* Transición suave */
    /* background-color: #08fdd8; */
}

.container.open {
    visibility: visible; /* Muestra el menú */
    opacity: 1; /* Lo hace completamente visible */
}


@media screen and (min-width: 950px) {
    header{
        justify-content: flex-end;
        align-items: flex-end;
        
        
       /* background-color: #08fdd8; */
    }
    .containerHeader{
        backdrop-filter: none;
    }
    .btns-container{
        display: none;
    }

    .container{
        visibility: visible;
        transition: 0s;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(58, 47, 47);
        z-index: 6;

    
    }
}