#sectionHome{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* padding-left: 1.5rem; */
    flex-direction: column;
    /* padding-top: 50px; */
    gap: 30px;
 

}
.textZone h1{
    font-size: 3.2rem;
    line-height: 50px;
    letter-spacing: -3px;
    color: var(--colorText);
}
.textZone span{
    color: #00ccff;
}

.textZone .textoGray{
    margin-top: 20px;
    color: #e5e5e5 ;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
    z-index: -1;
}

/* contact me button */
.contact-button{
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #0DCEF9;
    margin-top: 20px;
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:  all .3s ease-in-out;
    z-index: -1;
}
.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #0DCEF9;
    transform: skewX(-19deg);
    
}
.contact-button:hover span.bg{
    width: 110%;
}
.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #0DCEF9;
    box-sizing: border-box;
    
}
.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.contact-button:hover span.text{
    color: #1d1d1d;
}

.box{
    background-color: #2d2d2e;
    position: relative;
    width: 230px;
    height: 270px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    overflow: hidden;
    border-radius: 20px;
    z-index: -1;
}

.box .logoImg{
    width: 220px;
    height: 260px;
    border-radius: 20px;
}


.box::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff,#0DCEF9);
    animation: animate 4s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #1d1d1d;
    border-radius: 16px;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box img{
    position: relative;
    width: 200px;
    height: 220px;
    min-width: 100px;
    z-index: 1;
    padding-top: 10px;
    background-color: #1d1d1d;
    opacity: 1;

}

@media screen and (min-width: 950px) {
    /* home section */
    #sectionHome{
        padding-left: 11rem;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .textZone h1{
        font-size: 5.3rem;
        line-height: 85px;
        letter-spacing: -6px;
    }

    .textZone .textoGray{
        font-size: 1rem;
    }

    .cv{
        margin-top: 30px;
    }

    .box{
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    /* .scroll-down{
        right: -30px;
        bottom: 3.3rem;
    }
    .scroll-down--left{
        left: 110px;
        right: auto;
    } */
}
    /* this is tht end of section home */