.carouselWrapper{
  display: flex;
  justify-content: center;
  width: 90%;
  /* z-index: -2; */

}

#wrapper {
  width: 100%;
  /* max-width: 764px; */
  position: relative;
  /* z-index: -1; */
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
 
}

#carousel::-webkit-scrollbar {
  height: 0;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(194 194 197);
  border: none;
  padding: 10px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.prev {
  top: 50%;
  left: 0;
  transform: translate(-30%, -40%);
  display: none;
}

.next {
  top: 50%;
  right: 0;
  transform: translate(30%, -40%);
}

#content {
  display: flex;
  gap: 25px;
  /* margin: auto; */
  
}

@media screen and (min-width: 568px) {
  #content{
    max-width: 360px;
    gap: 25px;
   
  }

}

@media screen and (min-width: 768px) {
  #wrapper {
    width: 100%;
    
  }
  #content{
    max-width: 660px;
    gap: 30px;
  }
}

@media screen and (min-width: 950px) {
  #wrapper {
    width: 100%;
  }
  #content{
    max-width: 689px;
    gap: 25px;
  }


}

@media screen and (min-width: 1024px) {
  #wrapper {
    max-width: 100%;
  }
  #content{
    max-width: 960px;
    gap: 25px;
  }
}

@media screen and (min-width: 1440px) {
  #wrapper {
    max-width: 100%;
  }
  #content{
    max-width: 1024px;
    gap: 30px;
  }
}