.sectionPortafolio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    /* margin-top: 100px; */

   
}

.title{
    justify-content: center;
}

.titleProyectos{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 15px;
    font-weight: bold;
/* color: var(--colorIcon); */
    color: rgba(0, 212, 255, 0.9);

}
/* .title:hover{
    transform: scale(1.005);
    color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
} */


.textoPortafolio{
    width: 100%;
    height: 60%;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 30px;
    
}

@media screen and (min-width: 950px) {
    .sectionPortafolio{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 9.5rem;
        
    }
    .title{
        width: 90%;
    }

    .titleProyectos{
        display: flex;
        font-size: 2rem;
        justify-content: left;
        padding-bottom: 10px;
        margin: 0%;

    }
    .textoPortafolio{
        width: 100%;
        height: 40%;
        display: flex;
        justify-items: center;
        justify-content: center;  
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .sectionPortafolio{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 9.6rem;
        /* margin-top: 70px; */
    }

    .title{
        display: flex;
        justify-content: left;
        padding-bottom: 10px;

    }

    .textoPortafolio{
        width: 100%;
        display: flex;
        justify-items: center;
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px){
    .sectionPortafolio{
        padding-left: 11rem;
    }
    .title{
        justify-content: left;
        padding-bottom: 10px;
    }
    
}
