.sectionContactame{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10.2rem;
    margin-top: 70px;
    gap: 20px;
    height: 90vh;
}

.titleContactame {
  display: flex;
  justify-content: left;
  font-size: 2rem;
  padding: 30px;
/* color: var(--colorIcon); */
  color: rgba(0, 212, 255, 0.9);
}

.contactame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.textContactame {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  /* padding-top: 15px; */
}

.btnContactame{
  text-decoration: none;
  width: 100%;
  max-width: 300px;
  height: 60px;
  display: block;
  line-height: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  color: #0DCEF9;
  margin-top: 20px;
}
.btnContactame div{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition:  all .3s ease-in-out;
  z-index: -1;
}
.btnContactame span.bg{
  position: absolute;
  width: 0%;
  height: 100%;
  left: -5px;
  top: 0;
  transition: all .3s ease-in-out;
  background-color: #0DCEF9;
  transform: skewX(-19deg);
  
}
.btnContactame:hover span.bg{
  width: 110%;
}

.btnContactame span.base{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 3px solid #0DCEF9;
  box-sizing: border-box;
  
}
.btnContactame span.text{
  position: absolute;
  padding-top: 10px;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}

.btnContactame:hover span.text{
  color: #1d1d1d;
}

footer{
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 20px;
}