.sectionContactame{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10.2rem;
    margin-top: 70px;
    /* gap: 20px; */
    min-height: 85vh;
}

.titleContactame {
  display: flex;
  justify-content: left;
  font-size: 2rem;
  padding: 30px;
/* color: var(--colorIcon); */
  color: rgba(0, 212, 255, 0.9);
}

.contactame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.textContactame {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  /* padding-top: 15px; */
}

.btnContactame {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: #0DCEF9;
  border: 2px solid #0DCEF9;
  border-radius: 0px;
  padding: 14px 36px;
  max-width: 200px;
  /* display: inline-block; */
  /* font-family: "Lucida Console", Monaco, monospace; */
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0DCEF9;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btnContactame:hover {
  box-shadow: inset 400px 0 0 0 #0DCEF9;
  color: black;
}


footer{
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}